@value back-color #2d2d2d;
@valeu back-color-hover #0d3d3d;

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: back-color;
    color: #fff;
    transition: all 0.3s;
    z-index: 1;
}

.sidebar .logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: back-color;
    color: #fff;
    transition: all 0.3s;
    z-index: 1;
}

.sidebar .logo .sidebar-thumbnail {
    border-radius: 50%;
}

.sidebar .search{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;


    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    height: 50px;
    background: back-color;
    color: #fff;
    transition: all 0.3s;
    z-index: 1;
}

.sidebar .search ion-icon:hover{
    cursor: pointer;
    
}
.sidebar .search input{
    width: 150px;
    height: 35px;
    background: #fff;
    color: #000;
    transition: all 0.3s;
    z-index: 1;
    border : 1px solid #fff;
    border-radius: 4px;
    padding-left: 10px;
}

.sidebar .sidebar-menu{
    position: absolute;
    top: 250px;
    left: 0;
    width: 100%;
    height: 100%;
    background: back-color;
    color: #fff;
    transition: all 0.3s;
    z-index: 1;
}

.sidebar .sidebar-menu ul{
    position: absolute;
    width: 100%;
    height: 100%;
    background: back-color;
    color: #fff;
    transition: all 0.3s;
    z-index: 1;
    padding-left: 0;
}

.sidebar .sidebar-menu ul li{
    width: 100%;
    height: 60px;
    background: back-color;
    color: #fff;
    transition: all 0.3s;
    z-index: 1;
    list-style: none;
    padding-left: 0px;
}

.sidebar .sidebar-menu ul li:hover{
    background: rgb(155, 155, 155);
    cursor: pointer;
}
